body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd; /* Azul claro para o fundo */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora-box {
    background-color: #ffffff; /* Fundo branco para a caixa */
    border-radius: 10px; /* Bordas arredondadas para a caixa */
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombras suaves */
    width: 300px;
    text-align: center;

}
h1 {
    color: #0277bd; /* Azul escuro para o título */
    font-size: 2rem;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
    border: 2px solid #0288d1; /* Bordas azuis */
    border-radius: 5px;
    width: 250px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #01579b; /* Azul mais escuro ao focar */
    box-shadow: 0 0 5px #01579b;
}

button {
    width: 130px;
    height: 30px;
    /* padding: 10px 20px; */
    margin: 10px;
    font-size: 1rem;
    background-color: #0288d1; /* Botões com fundo azul */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0277bd; /* Azul mais escuro ao passar o mouse */
}

button:active {
    background-color: #01579b; /* Azul ainda mais escuro quando clicado */
}

.buttons-container {
    display: flex;
    justify-content: space-around; /* Espaço igual entre os botões */
    align-items: center;
    
    flex-wrap: wrap; /* Permite que os botões quebrem para outra linha, se necessário */
   
}

#resultado {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #0277bd; /* Cor do texto do resultado */
}